+++
title = "Gyuho Lee"
linkTitle = "Gyuho's Personal Website"

+++

{{< blocks/cover title="Hello World!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/gyuho/gyuho.dev">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Gyuho's Personal Website</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
I work at AWS EKS, Kubernetes, and etcd.
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="See Docsy in action!" url="/docs/examples/" %}}
As well as our example site, there's a growing number of projects using Docsy for their doc sites.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/gyuho/gyuho.dev" %}}
We do a [Pull Request](https://github.com/gyuho/gyuho.dev/pulls) contributions workflow on **GitHub**. New users are
always
welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/gyuhox" %}}
Hi!
{{% /blocks/feature %}}


{{< /blocks/section >}}